<ul class="fa-ul main-list">
    <li class="main-list-item">
    <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    <a href="mailto:nadalvroma@gmail.com">E-Mail</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-pencil fa-lg main-list-item-icon"></span>
    <a href="https://blog.nadalvroma.com">Blog</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://linkedin.com/in/nadalvroma">LinkedIn</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="http://github.com/nadalvroma">GitHub</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/nadalvroma">Twitter</a>
    <li class="main-list-item">
    <span class="fa fa-quote-right fa-lg main-list-item-icon"></span>
    <a href="http://quote.nadalvroma.com">Citas</a>
  </li>
</ul>
